:root {
  /* --fondo: #343a40;
  --fondo2: #7952b3;
  --fondo3: #9a8bb1;
  --letra: #e1e8eb;
  --letra2: #343a40;
  --acento: #ffc107; */
  --fondo: #fcecdd;
  --fondo2: #ffc288;
  --fondo3: #046582;
  --letra: #363636;
  --letra2: #b2b8a3;
  --acento: #ff6600;
}

body {
  background: var(--fondo);
  font-family: "Acme", sans-serif;
}

.dn {
  display: none;
}
.db {
  display: block;
}
/*NAV*/
nav {
  background-color: var(--letra);
}
.nav__botonera {
  margin: auto;
}
.nav__btn {
  color: var(--fondo);
  transition: 200ms;
  font-size: 1.5rem;
}
.nav__btn:hover {
  color: var(--acento);
}
/*HOME*/
#home {
  color: var(--letra);
}
#home__contenedor {
  background-color: var(--fondo2);
  margin-top: 2%;
  padding: 3%;
  display: flex;
  align-items: center;
}
#home__left {
  margin: auto;
  height: 80%;
  background-color: var(--fondo2);
  overflow: hidden;
}
#home__p {
  height: 80%;
  font-size: 1.5rem;
  margin-left: 20px;
  overflow: hidden;
}
#home__right {
  margin: auto;
  height: 80%;
  background-color: var(--fondo2);
}
#home__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/*Portfolio*/
#portfolio__contenedor {
  color: var(--letra);
  background-color: var(--fondo2);
  margin-top: 2%;
  padding: 3%;
}
.titulo {
  font-size: 3rem; /*Todos los titulos*/
  margin: 2%;
}
.subtitulo {
  font-size: 2rem;
}
#portfolio__contenedorcards {
}
.portfolio__card {
  color: var(--letra);
  height: 20vh;
  width: 10vw;
  padding: 10px;
}
.portfolio__cardtitle {
  font-size: 1.1rem;
}
.portfolio__imgtech {
  border-radius: 0;
  height: 7vh;
  margin-bottom: 20px;
}

#portfolio__contenedorapps {
  width: 80%;
}
.portfolio__row {
  background-color: var(--letra);
  color: var(--letra2);
}
.portfolio__tituloapp {
}
.portfolio__descapp {
}
.portfolio__icon {
  color: var(--letra2);
  font-size: 50px;
  transition: 200ms;
}
.portfolio__icon:hover {
  color: var(--acento);
}
/*CV*/

#cv__contenedor {
  display: block;
  background-color: var(--fondo2);
  color: var(--letra);
  margin-top: 2%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}
.cv__item {
  background-color: var(--letra);
  color: var(--letra2);
  padding-bottom: 0;
}
.cv__subtitulo {
  font-size: 2rem;
}

.cv__imgredesgit {
  width: 100px;
}

.cv__icon {
  margin-left: 10px;
  color: var(--letra2);
  font-size: 20px;
  transition: 200ms;
}
.cv__icon:hover {
  color: var(--acento);
}

.cv__iconredes {
  color: var(--letra);
  font-size: 3rem;
  transition: 200ms;
}
.cv__iconredes:hover {
  color: var(--acento);
}
