:root {
  --fondo: #343a40;
  --fondo2: #7952b3;
  --fondo3: #9a8bb1;
  --letra: #e1e8eb;
  --letra2: #343a40;
  --acento: #ffc107;
}

body {
  background: var(--fondo);
  font-family: "Acme", sans-serif;
}

.dn {
  display: none;
}
.db {
  display: block;
}
/*NAV*/
nav {
  font-size: 24px;
  background-color: var(--fondo3);
}
.nav-link {
  color: var(--letra2);
}
/*HOME*/
#home {
  color: var(--letra);
}
.section__contenedor {
  background-color: var(--fondo2);
  height: 80vh;
  margin-top: 8%;
  padding: 3%;
  display: flex;
  align-items: center;
}
#home__left {
  margin: auto;
  height: 80%;
  background-color: var(--fondo2);
}
#home__p {
  height: 80%;
  font-size: 1.5rem;
  margin-left: 20px;
}
#home__right {
  margin: auto;
  height: 80%;
  background-color: var(--fondo2);
}
#home__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/*Portfolio*/
#portfolio__contenedor {
  color: var(--letra);
  background-color: var(--fondo2);
  margin-top: 8%;
  padding: 3%;
}
.titulo {
  font-size: 3rem; /*Todos los titulos*/
  margin: 2%;
}
.subtitulo {
  font-size: 2rem;
}
#portfolio__contenedorcards {
}
.portfolio__card {
  background-color: var(--letra);
  color: var(--letra2);
  height: 25vh;
  padding: 10px;
}
.portfolio__cardtitle {
  font-size: 1.1rem;
}
.portfolio__imgtech {
  border-radius: 0;

  margin: auto;
}

#portfolio__contenedorapps {
}
.portfolio__tituloapp {
}
.portfolio__descapp {
}
.portfolio__icon {
  color: var(--letra);
  font-size: 50px;
}

/*CV*/

#cv__contenedor {
  display: block;
  background-color: var(--fondo2);
  color: var(--letra);
  margin-top: 8%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}
.cv__item {
  background-color: var(--letra);
  color: var(--letra2);
  padding-bottom: 0;
}
.cv__subtitulo {
  font-size: 2rem;
}

.cv__imgredesgit {
  width: 100px;
}

.cv__icon {
  margin-left: 10px;
  color: var(--fondo2);
  font-size: 20px;
}

.cv__iconredes {
  color: var(--letra);
  font-size: 50px;
}
